
<form action="/change_pet" method="POST">
<p>Пожалуйста, выберите себе животное .</p>
<select  name="name_pets" class="form-control">
  <option>Cat</option>
  <option>Dog</option>
  <option>Putin</option>
</select> 
<input type="submit">	
</form>
