

<div class="row ">
  <div class="col-md-6 col-md-offset-3">
  	<h1>ТАМАГОЧИ</h1>
	</div>
	<form action="/" method="post" class="col-md-6 col-md-offset-3 ">
	  <button name="newgame" class="index_button"> <a href="/change_pet" class="a_index">Новая Игра</a></button>
	  <button name="continuegame" class="index_button" ><a href="/continuegame" class="a_index">Продолжить</a></button>
	</form>
</div>